<h1>Welcome to HRoracle</h1>
<form  method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.e_name.label }} {{form.e_name}}
    <br>
    {{ form.e_age.label}} {{form.e_age}}
    <br>
    {{ form.e_gender.label}} {{form.e_gender}}
    <br>
    {{form.e_position.label}}{{form.e_position}}
    <br>
    {{ form.e_recomended.label}} {{form.e_recomended}}
    <br>
    {{form.e_recruiter.label}}{{form.e_recruiter}}
    <br>
    {{form.e_days_to_hire.label}}{{form.e_days_to_hire}}
    <br>
    {{form.e_commute.label}}{{form.e_commute}}
    <br>
    {{form.e_entrance_type}}
    <br>
    {{form.e_source.label}}{{form.e_source}}
    <br>
    {{ form.submit() }}
</form>