{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>HR Oracle</h1>
    <p>Добро пожаловать в HR Оракул</p>
  </div>
  {% for candidate in candidates.items %}
  <div class="container">
      <div class="card" >
          <div class="card-body">
                <p><a href="{{ url_for('candidates.candidate_prediction', e_id=candidate.e_id) }}">{{candidate.e_name }}</a></p>
                <p>Добавлен: {{ candidate.e_date_entered.strftime('%d.%m.%Y') }}</p>
          </div>
      </div>
  </div>
  {% endfor %}
  
      
    
{% endblock %}