{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>HR Oracle</h1>
    <p>Список кандидатов</p>
  </div>
  
    <table class="table thead-light" style="width:100%">
      <thead>
        <tr>
          <th>Кандидат</th>
          <th>Дата добавления</th>
          <th>Рекрутер</th>
        </tr>
      </thead>
      <tbody>
      {% for candidate in candidates.items %}
        <tr>
          <td><a href="{{ url_for('candidates.candidate_prediction', e_id=candidate.e_id) }}">{{candidate.e_name }}</a></td>
          <td>{{ candidate.e_date_entered.strftime('%d.%m.%Y') }}</td>
          <td>{{ candidate.e_recruiter }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    
  
    <nav aria-label="Page navigation example">
     <ul class="pagination justify-content-center">
       {% for page_num in candidates.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
          {% if candidates.page == page_num %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
          </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
          {% endif %}
      {% endfor %}
    </nav>
      
    
{% endblock %}