{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Об Оракуле</h1>
  <p>Запрос на этот проект зрел очень давно. На текущий момнт мы никак не эксплуатируем данные Департамента управления персоналом для принятия более продуманных решений в повседневной деятельности.</p>
  <p>HR оракул на текущий момент может работать только с сотрудниками склада. Но в будущем при поддержке и своместной работе всего HR департамента он сможет стать по настоящему мощным инструментом незаменимым в повседневной деятельности компании</p>
</div>

{% endblock %}